/*body{
	margin: 0;
}



.regis{
	background-color: #333366;
	width: 1500px;
	height: 600px;
    
}

.fit{
	width: 600px;
	height: 52px;
    padding-top: 116px;
    display: flex;  

}

.face{
	width: 300px;
	height: 52px;
	background-color: #336699;
	text-align: center;
	text-decoration: none;
}

.twit{
	width: 300px;
	height: 52px;
	background-color: #6699ff;
	text-align: center;
	text-decoration: none;
}

.or{
	padding-top: 57px;
	color: white;
}

.input1{
	padding-top: 10px;
    padding-left: 111px;

}

.email{
	padding-top: 10px;
	
}

.input2{
	padding-top: 8px;
	padding-right: 414px;
}

.by{
	color: white;
	padding-top: 7px;
	padding-right: 176px;
}

.ter{
	text-decoration: none;
	color: blue;
}

.crt{
	height: 50px;
	width: 600px;
	padding-top: 10px;
	padding-right: 487px;
	background-color: green;
	color: white;
	text-align: center;
}
*/




xx